[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
ipykernel = "*"
jupyter-contrib-nbextensions = "*"
jupytemplate = "*"
jupyter_http_over_ws = "*"
pytest = "*"
build = "*"

[packages]
bs4 = "*"
pandas = "*"
requests = "*"
html5lib = "*"
lxml = "*"
altair = "*"
sqlalchemy = "*"
aiohttp = ">=3.8.1"
django = ">=4.0, <5.0"
gunicorn = "*"
django-heroku = "*"
pillow = ">=9.1.1"

[requires]
python_version = "3.8"
